<ul class="background">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>

<div class="form-container">
    <div class="text-container">
        <h1>Welcome Back</h1>
        <p>Enter your credentials to access your account.</p>
    </div>

    <div class="input-container">
        <div class="input-form">
            <label for="username">Username</label>
            <input 
                pInputText 
                id="username" 
                aria-describedby="username-help" 
                [(ngModel)]="username" />
        </div>
        
        <div class="input-form">
            <label for="password">Password</label>
            <input 
                pInputText 
                id="password" 
                aria-describedby="password-help" 
                [(ngModel)]="password" />
        </div>
    </div>
    
    <div>
        <p-button label="Sign In" severity="contrast" (onClick)="signIn()"/>
    </div>

    <div class="text-container">
        <p>If you don't have an account. <a class="link-style" (click)="goToSignUp()">Click here</a></p>
    </div>
</div>